@import '_colors.scss';
@import 'compass/css3/box-shadow';
@import 'compass/css3/border-radius';

.wrap {
	margin: 0 auto;
	width: 1170px;
}

#news {
	margin-top: 20px;
	height: 530px;
	width: 270px;
	background-color: $fillbackground;
	border-radius: 10px;
	border: 2px solid $border-color;
	display: block;
	color: white;
	padding: 15px;
	float: left;

	p {
		margin-bottom: 30px;
	}

	h1 {
	margin-top: 0px;
	}
}

#pic {
	display: block;
	float: left;
	width: 500px;
}

#bigPicture {
	margin-left: 30px;
	margin-top: 20px;
	/* Compass mixin to ensure box-shadows are consistent between vendors */
	@include box-shadow(0 0px null 25px black);
	/* Compass mixin to ensure border-radius is consistent between vendors, including horizontal/vertical radii */
	@include border-radius(10px, 10px);
}

#scroller {
	margin-top: 20px;
	margin-left: 43px;
	height: 175px;
	width: 474px;
	overflow: auto;
	border: 2px solid $border-color;
	border-radius: 10px;
	background-color: $fillbackground;
	color: white;
}

#about {
	margin-top: 20px;
	margin-left: 60px;
	height: 595px;
	width: 270px;
	background-color: $fillbackground;
	border-radius: 10px;
	border: 2px solid $border-color;
	display: block;
	color: white;
	padding: 15px;
	float: left;

	p {
		margin-bottom: 30px;
	}

	h1 {
		margin-top: 0px;
	}
}