@import '_colors.scss';
@import 'compass/css3/box-shadow';
.hero-unit {
background-color: $hero-unit-back;
height: 510px;
clear: both;
overflow: hidden;
font-family: tahoma;
/* Compass mixin to ensure box-shadows are consistent between vendors */
@include box-shadow(0 5px null 10px black);
img {
/* Compass mixin to ensure box-shadows are consistent between vendors */
@include box-shadow(0 0px null 25px black);
/* Compass mixin to ensure border-radius is consistent between vendors, including horizontal/vertical radii */
@include border-radius(15px, 25px);
width: 50%;
margin: auto;
display: block;
margin-top: 20px;
}
}